  .number-board {
    text-align: center;
    @include box_shadow(3);
    border-radius: 10px;
    background-color: color($colors, background, contrast);
    ul {
      height: 8rem;
      display: flex;
      list-style: none;
      color: color($colors, text, base);
      margin: 0 auto;
      padding: 0px;
      background-color: color($colors, background, contrast);


      li {
        background-color: color($colors, background, contrast);
        font-family: 'Roboto';
        // border: 1px solid color($colors, border, base);

        h3, h4, h5 {
          // text-transform: uppercase;
          font-weight: bold;
          color: color($colors, text, base);
        }

        p {
          margin: 0px;

          &.title {
            // text-transform: uppercase;
            font-weight: bold;
            color: color($colors, text, base);
          }

          &.spincontent {
            font-size: 28pt;
            // font-weight: 600;
            font-family: 'Roboto Mono';
            color: color($colors, primary);
          }
        }
      }

      li:first-child() {
        border-top-left-radius: 10pt;
        border-bottom-left-radius: 10pt;
      }

      li:nth-child(2) {
        border-top-right-radius: 10pt;
        border-bottom-right-radius: 10pt;
      }
    }
  }
