<ion-content class="login-module forget-password-container" data-track-content>
  <ion-grid class="center" data-track-name="registration form">
    <ion-row>
      <ion-col class="div-logo">
        <custom-logo></custom-logo>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="div-after-logo">
        <p class="heading-6">
          {{ 'REGISTRATION.PAGETITLE' | translate }}
        </p>
        <p class="body-1">{{ email }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form [formGroup]="regForm" class="general-form">
          <ion-list>
            <ion-item no-lines>
              <ion-input [type]="showPassword ? 'text' : 'password'"
                [(ngModel)]="password"
                placeholder="Set up Practera password*"
                formControlName="password"></ion-input>
              <button class="hideshow" ion-button item-end (click)="showPassword = !showPassword">
                <ion-icon [ngStyle]="{color: color}" item-end [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
              </button>
            </ion-item>

            <ion-item no-lines>
              <ion-input [type]="showPassword ? 'text' : 'password'"
                (keyup)="verifyPwdKeyUp()"
                name="verify_password"
                [(ngModel)]="verify_password"
                placeholder="Confirm password*"
                formControlName="verify_password"></ion-input>
            </ion-item>
          </ion-list>

          <button type="submit"
            ion-button
            round
            block
            class="submitbutton"
            (click)="onSubmit(regForm)"
            [disabled]="password!=verify_password || regForm.invalid"
            [ngStyle]="{backgroundColor: color }">
            {{ 'REGISTRATION.SUBMIT' | translate }}
          </button>

          <div *ngIf="verifyPwd == true">
            <div *ngIf="pwdMatchCheck()" class="error-hint">
              <small class="text-danger">
               {{ passwordMismatchMessage }}
              </small>
            </div>
            <div *ngIf="checkMinLength() == true" class="error-hint">
              <small class="text-danger">
               {{ passwordMinlengthMessage }}
              </small>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="mode-warn" *ngIf="verifySuccess == false">
  <div class="mode-warn-sms">
    <div class="mode-text-container">
      <span>
        {{ verifyFailedErrMessage }}
      </span>
    </div>
  </div>
</ion-content>
