<ion-content class="login-module" data-track-content>
  <ion-grid class="default-center-container" data-track-name="registration form">
    <ion-row class="main-login-text">
      <ion-col>
        <h1>Skills Passport</h1>
        <p>v1.0</p>
        <h3 col-offset-1 col-10 col-offset-1>
          <img class="main-logo" src="./assets/img/main/logo01.svg" />
        </h3>
        <p class="login-welcome-text" col-offset-1 col-10 col-offset-1>
            {{ 'REGISTRATION.HEADER' | translate }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10 offset-1>
          <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm)" class="general-form" [formGroup]="regForm">

              <ion-input class="loginform" type="password" [(ngModel)]="password" placeholder="New Password" formControlName="password"></ion-input>

              <ion-input class="loginform" (keyup)="verifyPwdKeyUp()" type="password" name="verify_password" [(ngModel)]="verify_password" placeholder="Confirm password" formControlName="verify_password"></ion-input>

              <button type="submit"
                ion-button
                round
                block
                class="secondary-button loginbutton"
                [disabled]="password!=verify_password || regForm.invalid">
                {{ 'GENERAL.DONE' | translate }}
              </button>
              <div *ngIf="verifyPwd == true">
                <div *ngIf="pwdMatchCheck()" class="error-hint">
                  <small class="text-danger">
                   {{ passwordMismatchMessage }}
                  </small>
                </div>
                <div *ngIf="checkMinLength() == true" class="error-hint">
                  <small class="text-danger">
                   {{ passwordMinlengthMessage }}
                  </small>
                </div>
              </div>
            </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 <ion-content class="mode-warn" *ngIf="verifySuccess == false">
  <div class="mode-warn-sms">
    <div class="mode-text-container">
      <span>
        {{ verifyFailedErrMessage }}
      </span>
    </div>
  </div>
</ion-content>
