
// 1.1 General Color Variables
$events-download-btn: 1px $border-primary solid;
// 1.2 General Font Variables

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,600italic);

$font-primary: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: 'Merriweather', Arial, "Helvetica Neue", Helvetica, sans-serif;
// new font
@import url('https://fonts.googleapis.com/css?family=Arvo|Cabin|Zilla+Slab+Highlight');
$title-font: 'Roboto';
$mono-font: 'Roboto Mono';

#main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  background-color: color($colors, background, base);
}

// 3. General Tab Styling
.tab-color {
  background-color: color($colors, primary, base);
  color: color($colors, secondary, base);
}
.flex-display {
  display: flex;
}
// 4. General Text styling
.app-title {
  font-family: $font-primary;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}
.card-title {
  font-family: $font-primary;
  font-size: 32px;
}
.general-text {
  font-family: $font-primary;
  font-size: 1.3rem;
}
.line-break {
  word-break: break-word;
}
.font-20pt {
  font-size: 20pt !important;
}
.font-22pt {
  font-size: 22pt !important;
}
// 5. General Button Styling
.primary-button {
  background-color: color($colors, primary-button, base);
  color: color($colors,white) !important;
}
.general-button {
  background-color: color($colors, button, base);
  color: color($colors,white) !important;
}
.back-button-text {
  padding-left: 4px;
}
.close {
  font-size: 2.7rem;
  float: right;
  background-color: transparent;
  color: color($colors, text, contrast);
  display: inline-block;
}
// 6. General Pages Styling
// 6.1 Default Theme Settings Start
.hide-tabbar {
  opacity: 0;
}
.toolbar.toolbar-md,
.toolbar.toolbar-ios {
  min-height: 50px;
  .grid,
  .col {
    padding: 0px;
  }
}
.item-popup-img {
  max-width: 70%;
}
.tab-button-icon.icon,
.button-outline-ios,
.button-outline-md,
.tab-button .tab-button-icon,
.tab-button .tab-button-text {
  color: color($colors, tabs, base) !important;
  // border-top: thick double color($colors, tabs, border);
}

.tab-button[aria-selected=true] .tab-button-icon,
.tab-button[aria-selected=true] .tab-button-text {
  color: color($colors, tabs, contrast) !important;
  // border-color: color($colors, tabs, border);
}


// Render segments theme template
@mixin custom-segments($color-name, $color-base, $color-contrast) {
  // Event filtration tabs (segments)
  .segment-ios-#{$color-name}, .segment-md-#{$color-name} {
    .segment-button {
      color: $color-base;
      border-color: $color-base;

      &.activated, &.segment-activated {
        background-color: $color-base;
        color: $color-contrast;
      }
    }
  }
}
// Generate different segments for each theme colors
@each $color-name, $color-base, $color-contrast in get-colors($colors) {
  @include custom-segments($color-name, $color-base, $color-contrast);
}


.checkbox-md .checkbox-checked,
.checkbox-ios .checkbox-checked {
  border-color: color($colors, primary, base);
  background-color: color($colors, primary, base);
}
.loading-md .spinner-crescent circle,
.loading-ios .spinner-crescent circle {
  stroke: color($colors, primary, base);
}
// 6.2 Default Theme Settings End
.header {
  .toolbar-background-md,
  .toolbar-background-ios {
    background-color: color($colors, white, base);
  }
  // have to hardcode, because previous toolbar-background-md/ios has overlapped everything
  .warning .toolbar-background{
    background-color: color($colors, warning, base) !important;
  }
  .bar-button-default-md,
  .bar-button-default-ios,
  .toolbar-title-md,
  .toolbar-title-ios {
    color: color($colors, text, dark);
    font-weight: bold;
  }
  .toolbar-title-md,
  .toolbar-title-ios {
    font-size: 1.7rem;
  }
  // 6.3 text input without outline
  .text-input-ios,
  .text-input-md,
  .focus-outline :focus {
    outline: none !important;
  }
}

.custom-header {
  display: flex;
  padding: 0;
  div {
    width: 100%;
  }
}
