<ion-header class="activities-header">
  <readonly></readonly>
  <ion-grid>
    <ion-row class="score-board" [style.background-image]="experienceBackgroundUrl">
      <ion-col col-12>
        <img class="dashboard-logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" (click)="refreshPage()" />
      </ion-col>

      <ion-col col-12>
        <ul class="dashboard-data">
          <li col-4>
            <div (click)="openEvent()">
              <p class="title">{{ 'ACTIVITY.EVENTS' | translate }}</p>
              <p *ngIf="bookedEventsCount != 0" [ngClass]="sameFontSize == true ? 'font-20pt': 'font-22pt'" class="number" [style.height.px]="47.31">
                {{bookedEventsCount}}
              </p>
              <ion-icon class="event-btn-icon event-btn-pulse" [style.color]="experiencePrimaryColor" [style.height.px]="47.31" *ngIf="bookedEventsCount === 0" name="md-calendar"></ion-icon>
              <p *ngIf="bookedEventsCount === 0" class="link">{{ 'ACTIVITY.BOOKEVENTS' | translate }}</p>
              <p *ngIf="bookedEventsCount > 0" class="link">{{ 'ACTIVITY.BROWSEEVENTS' | translate }}</p>
            </div>
          </li>
          <li col-4>
            <div (click)="openLeaderboard()">
              <p class="title">{{ 'ACTIVITY.POINTS' | translate }}</p>
              <p [ngClass]="userExperiencePoint >= 10000 ? 'font-20pt': 'font-22pt'" class="number" [style.color]="experiencePrimaryColor" [style.height.px]="47.31">
                {{ characterCurrentExperience || '' }}
              </p>
              <p class="link">{{ 'ACTIVITY.LEADERBOARD' | translate }}</p>
            </div>
          </li>
          <li col-4>
            <div (click)="openPortfolio()">
              <p class="title">{{ 'ACTIVITY.GRADE' | translate }}</p>
              <p [style.height.px]="47.31" class="number user-grade">
                <ion-badge *ngIf="show_badge" [ngClass]="{
                  'best-grade-color': finalAverageScoreShow >= 3.5,
                  'better-grade-color': (finalAverageScoreShow < 3.5 && finalAverageScoreShow >= 2), 
                  'worse-grade-color': finalAverageScoreShow < 2
                }">
                  {{ finalAverageScoreShow }}
                </ion-badge>
                <button block *ngIf="!show_badge">
                  <i class="fa fa-clock-o"></i>
                </button>
              </p>
              <div *ngIf="!view_portfolio">
                <p *ngIf="!portfolio_request" class="link">{{ 'ACTIVITY.EXPLAINPORTFOLIO' | translate }}</p>
                <p *ngIf="portfolio_request" class="link">{{ 'ACTIVITY.REQUESTPORTFOLIO' | translate }}</p>
              </div>
              <div *ngIf="view_portfolio">
                <p class="link">{{ 'ACTIVITY.VIEWPORTFOLIO' | translate }}</p>
              </div>
            </div>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="activities-content" no-bounce data-track-content>
  <ion-refresher *ngIf="checkUserPointer" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="activity-error" *ngIf="returnError == true">
    {{ activitiesLoadingErr }}
  </ion-list>

  <ion-list class="activity-list" *ngFor="let activity of activities; let i = index">

    <div *ngIf="activity.Activity.is_locked == false"
      class="unlocked bg-color-{{i}} line-break"
      (click)="goToDetail(activity)">
      <p col-7 class="activity-title" data-content-name>
        {{ activity.Activity.name }}
        <span *ngIf="activity.Activity.name == 'Starter' && activities.length == 1">
          <i id="fingerPointer" class="fa fa-hand-o-left shake" aria-hidden="true"></i>
          Click Here
        </span>
      </p>

      <rainbow-icons col-3
        *ngIf="changeColor && changeColor[i]"
        class="ticks"
        [styling]="i"
        [colorings]="[
          changeColor[i][0],
          changeColor[i][1],
          changeColor[i][2],
          changeColor[i][3]
        ]"
      ></rainbow-icons>

      <p col-2 class="assessment-score" data-content-piece>
        <button block *ngIf="!show_score[i]">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </button>
        <ion-badge *ngIf="show_score[i] && activity.Activity.name != 'Starter'"
          [ngClass]="{
            'best-grade-color': averageScore[i] >= 3.5,
            'better-grade-color': (averageScore[i] >= 2 && averageScore[i] < 3.5),
            'worse-grade-color': averageScore[i] < 2
          }">
          {{ averageScore[i] }}
        </ion-badge>
        <ion-badge *ngIf="show_score[i] && activity.Activity.name == 'Starter'"
          class="best-grade-color">
          <ion-icon name="checkmark"></ion-icon>
        </ion-badge>
      </p>
    </div>

    <div *ngIf="activity.Activity.is_locked == true" class="locked">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <span (click)="goToPopup(activity.Activity.unlock_id)" class="line-break" data-content-name>
        {{ activity.Activity.name }}
      </span>
    </div>

  </ion-list>
</ion-content>
