<ion-content class="login-module forget-password-container" *ngIf="verifySuccess == true">
  <ion-grid class="center" no-padding>
    <ion-row>
      <ion-col class="div-logo">
        <custom-logo></custom-logo>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="div-after-logo">
        <p class="headline-6">{{ 'RESETPASSWORD.PAGETITLE' | translate }}</p>
        <p data-track-piece class="body-1">{{ 'RESETPASSWORD.DESCRIPTION' | translate }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form #resetPasswordForm="ngForm"
          [formGroup]="resetPwdFormGroup"
          class="general-form">
          <ion-list>
            <ion-item no-lines>
              <ion-input [type]="showPassword ? 'text' : 'password'"
                [(ngModel)]="password"
                name="password"
                placeholder="Password"
                formControlName="password"></ion-input>
              <button class="hideshow" ion-button item-end (click)="showPassword = !showPassword">
              <ion-icon [ngStyle]="{color: color}" item-end [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
              </button>
            </ion-item>
            <ion-item no-lines>
              <ion-input [type]="showPassword ? 'text' : 'password'"
                (keyup)="verifyPwdKeyUp()"
                [(ngModel)]="verify_password"
                name="verify_password"
                placeholder="Verify"
                formControlName="verify_password"></ion-input>
            </ion-item>
          </ion-list>
          <div *ngIf="verifyPwd == true">
            <div *ngIf="isPwdMatch" class="error-hint">
              <small class="text-danger">
                {{ passwordMismatchMessage }}
              </small>
            </div>
            <div *ngIf="minLengthCheck" class="error-hint">
              <small class="text-danger">
                {{ passwordMinlengthMessage }}
              </small>
            </div>
          </div>

          <button type="submit"
            ion-button
            round
            block
            class="submitbutton"
            (click)="updatePassword()"
            [disabled]="password!=verify_password || resetPasswordForm.invalid"
            [ngStyle]="{backgroundColor: color }">
            {{ 'RESETPASSWORD.CHANGEPASSWORD' | translate }}
          </button>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="forget-password-container">
      <ion-col col-10 offset-1>
        <div class="text-split">
          <span class="body-2">Remembered it?&nbsp;</span>
          <a class="subtitle-2" (click)="backButton()" [ngStyle]="{color: color}">Login here</a>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <a [ngStyle]="{color: color}">Powered by</a>
          <img src="./assets/img/main/logo.svg" height="25" class="powerby-img">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="mode-warn" *ngIf="verifySuccess == false">
  <div class="mode-warn-sms">
    <div class="mode-text-container">
      <span>
        {{ invalidLinkErrMessage }}
      </span>
    </div>
  </div>
</ion-content>
