.file-question {
  background-color: color($colors, background, base);

  ion-list {
    margin: 0px;
  }
  .uploaded,
  .unuploaded,
  .file-description {
    padding-left: 0px;
    background-color: color($colors, background, base);

  }
  .unuploaded,
  .item-inner {
    border: none !important;
  }
  .upload-button {
    background-color: color($colors, primary-button, base);
    color: color($colors, white);
  }
}
.feedback {
  ion-card {
    width: 100%;
    margin: 12px 0px;
  }
}
.general-textarea {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  resize: vertical;
  background-color: color($colors, background, contrast);
}
